In [1]:
from sqlalchemy import create_engine
db_engine = create_engine("postgresql+psycopg2://adityakumarraj:Aa@7909013706@localhost:5432/data")

In [2]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

password = quote_plus("Aa@7909013706")  # URL encode the password
db_engine = create_engine(f"postgresql+psycopg2://adityakumarraj:{password}@localhost:5432/data")

In [3]:
from schema_engine import SchemaEngine

schema_engine = SchemaEngine(
    engine=db_engine, 
    db_name="data",
    schema='public',  # PostgreSQL default schema
)
mschema = schema_engine.mschema
mschema_str = mschema.to_mschema()
print(mschema_str)
db_name="data"
mschema.save(f'./{db_name}.json')

/Users/adityakumarraj/Desktop/XIYAN-SQL multi table/venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

【DB_ID】 data
【Schema】
# Table: public.public.nodedata
[
(nodeid:TEXT, Primary Key, Examples: [i-0000d4f7372fb61ae, i-0003ffb663799aca6, i-0004439ed925e9b69]),
(nodename:TEXT, Examples: [ip-10-93-224-63.us-west-2.compute.internal]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(instancetype:TEXT, Examples: [p4de.24xlarge, r5dn.8xlarge, c5d.24xlarge]),
(tags:TEXT),
(created:TIMESTAMP, Examples: [2025-05-11 01:37:51]),
(snapshottime:TIMESTAMP, Examples: [2025-04-21 19:46:53.516841]),
(platform:TEXT, Examples: [pluto, runai])
]
# Table: public.public.projectdata
[
(id:INTEGER, Primary Key, Examples: [1, 2, 3]),
(projectid:TEXT, Examples: [e458fd5c-ebac-4867-9b23-d0d1661c6fd1]),
(nodepoolid:TEXT, Examples: [133, 23, 25]),
(projectname:TEXT, Examples: [red-piat-dev, stardust-p4de, ilo-train-video]),
(initiativename:TEXT),
(costlabel:TEXT, Examples: [gpu-159, gpu-196, gpu-170]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(nodepoolname:TEXT, Examples: [a100-80gb-mdsr, p4de.24xlarge, a100-3]),
(gpuquota:INTEGER, Examples: [8, 296, 184]),
(cpuquota:INTEGER),
(memoryquota:INTEGER),
(createdat:TIMESTAMP, Examples: [2025-03-11 09:42:32.036372]),
(lastfetched:TIMESTAMP, Examples: [2025-05-15 10:16:23.068653])
]
# Table: public.public.metrics
[
(id:INTEGER, Primary Key, Examples: [1, 2, 3]),
(pod_id:VARCHAR, Examples: [0006607a-d5d1-4a09-9da9-50b4581ae146]),
(pod_name:VARCHAR, Examples: [a1n-dev1-0-0]),
(namespace:VARCHAR, Examples: [runai-a1]),
(job_name:VARCHAR, Examples: [a1n-dev1, aabhatta-debug-22, accelerate-2]),
(initiative:VARCHAR, Examples: [asml]),
(project_id:VARCHAR, Examples: [00828886-cc30-45a7-8ee2-cad6ffdd22c3]),
(project_name:VARCHAR, Examples: [a1, adobe-look, apollo]),
(cluster_name:VARCHAR, Examples: [colligo-laser01-prod-uw2]),
(metric_timestamp:TIMESTAMP, Examples: [2025-05-02 06:00:09]),
(platform:VARCHAR, Examples: [pluto, runai]),
(dcgm_fi_dev_gpu_util:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_dev_mem_copy_util:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_prof_sm_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_nvlink_tx_bytes:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_prof_nvlink_rx_bytes:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_prof_pcie_tx_bytes:DOUBLE PRECISION, Examples: [0.0, 22416.0, 23416.0]),
(dcgm_fi_prof_sm_occupancy:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_tensor_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_fp64_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_fp32_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_fp16_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_dev_power_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_dev_thermal_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_dev_low_util_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_dev_reliability_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_prof_pcie_rx_bytes:DOUBLE PRECISION, Examples: [0.0, 14020.0, 14101.0]),
(dcgm_fi_prof_dram_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_gr_engine_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_dev_gpu_temp:DOUBLE PRECISION, Examples: [18.0, 19.0, 20.0]),
(dcgm_fi_prof_pipe_tensor_imma_active:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_prof_pipe_tensor_hmma_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_tensor_dfma_active:DOUBLE PRECISION, Examples: [0.0])
]
# Table: public.public.node_data
[
(nodeid:TEXT, Examples: [i-043b981dd9bd26fe4, i-008845b79cb98529f, i-06115036b30c9213c]),
(nodename:TEXT, Examples: [ip-10-93-224-63.us-west-2.compute.internal]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(instancetype:TEXT, Examples: [p4de.24xlarge, r5dn.8xlarge, c5d.24xlarge]),
(tags:TEXT),
(created:TIMESTAMP, Examples: [2025-05-11 01:37:51]),
(snapshottime:TIMESTAMP, Examples: [2025-04-21 19:46:53.516841]),
(platform:TEXT, Examples: [pluto, runai])
]
# Table: public.public.instance_type_metadata
[
(instance_type:VARCHAR, Primary Key, Examples: [c5.12xlarge, c5.18xlarge, c5.24xlarge]),
(count_gpu:SMALLINT, Examples: [4, 8, 0]),
(count_cpu:SMALLINT, Examples: [1, 36, 2]),
(count_memory:INTEGER, Examples: [64, 16, 488])
]
# Table: public.public.costs_data
[
(id:BIGINT, Primary Key, Examples: [1, 2, 3]),
(account_id:BIGINT, Examples: [58264114004, 214272701565, 300610508385]),
(product_name:TEXT, Examples: [Amazon API Gateway, Amazon Athena, Amazon CloudFront]),
(date_day:DATE, Examples: [2025-03-27]),
(category:TEXT, Examples: [COMPUTE-RI, MISC, NETWORKING]),
(subcategory:TEXT, Examples: [A100-40GB, A100-80GB, A100-RI-40GB]),
(region:TEXT, Examples: [af-south-1, ap-northeast-1, ap-northeast-2]),
(usage_description:TEXT, Examples: [AP-DataTransfer-Out-Bytes]),
(unit:TEXT, Examples: [64K-Chunks, ACU-Hr, Alarms]),
(data_creation_date:DATE, Examples: [2025-05-07]),
(env:TEXT, Examples: [DEV, PROD, STAGE]),
(instancetype:TEXT, Examples: [c5.12xlarge, c5.18xlarge, c5.24xlarge]),
(total_spend:DOUBLE PRECISION, Examples: [0.0, 1e-10, 2e-10]),
(total_usage_hours:DOUBLE PRECISION, Examples: [30847.4106463465, 0.0, 1065968.0])
]
# Table: public.public.poddata
[
(k8sid:TEXT, Primary Key, Examples: [00002f12-0561-46d5-8e28-9e0ac11b8231]),
(name:TEXT, Examples: [a026d4e13e2638ae4c2229080cdd83002d8b75c1942-0-0]),
(namespace:TEXT, Examples: [runai-a1]),
(jobname:TEXT, Examples: [pluto-prod-yiwhu-filix3-dist-u8sv6d]),
(project:TEXT, Examples: [a1, adobe-fonts-p4de, adobe-look]),
(initiative:TEXT, Examples: [ai-platform, asml, BYOA]),
(project_id:TEXT, Examples: [00828886-cc30-45a7-8ee2-cad6ffdd22c3]),
(initiative_id:TEXT, Examples: [044d4bd8-4a4e-461d-a1d6-836e86a147ea]),
(clustername:TEXT, Examples: [colligo-laser01-prod-uw2]),
(starttime:TIMESTAMP, Examples: [2025-04-21 16:53:46]),
(endtime:TIMESTAMP, Examples: [2025-03-23 02:14:45.679344]),
(countgpu:INTEGER, Examples: [0, 1, 2]),
(countcpu:INTEGER, Examples: [0, 1, 2]),
(memory_mb:INTEGER, Examples: [0, 1802, 2826]),
(snapshot_time:TIMESTAMP, Examples: [2025-03-23 02:14:45.679344]),
(platform:TEXT, Examples: [pluto, runai]),
(is_terminated:BOOLEAN, Examples: [False]),
(job_id:TEXT, Examples: [40eab889-ee60-4750-b221-e6e38776c797]),
(annotations:JSON),
(state:TEXT, Examples: [Deleted, Error, Failed]),
(tags:TEXT),
(owner_ldap:TEXT),
(node_name:TEXT, Examples: [0.0.0.0]),
(last_metric_received_time:TIMESTAMP, Examples: [2025-05-11 14:12:16]),
(last_metric_fetched:TIMESTAMP, Examples: [2025-05-15 00:08:44.780246])
]
# Table: public.public.initiativedata
[
(id:INTEGER, Primary Key, Examples: [1, 2, 3]),
(initiativeid:TEXT, Examples: [4500158, 4500661, 4500099]),
(nodepoolid:TEXT, Examples: [23, 133, 25]),
(initiativename:TEXT, Examples: [gpu-169--video-multiedit--rdg12]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(nodepoolname:TEXT, Examples: [a100-80gb-mdsr, p4de.24xlarge, a100-3]),
(costlabel:TEXT, Examples: [gpu-159, GPU-133, GPU-214]),
(gpuquota:INTEGER, Examples: [128, 200, 384]),
(cpuquota:INTEGER),
(memoryquota:INTEGER),
(createdat:TIMESTAMP, Examples: [2024-03-07 17:33:12.187000]),
(lastfetched:TIMESTAMP, Examples: [2025-05-15 10:16:22.170649])
]

In [4]:
# 1. Load model and tokenizer ONCE
import torch
from transformers import AutoModelForCausalLM, AutoTokenizer
from utils import read_json
from m_schema import MSchema

model_name = "XGenerationLab/XiYanSQL-QwenCoder-32B-2412"
model = AutoModelForCausalLM.from_pretrained(
    model_name,
    torch_dtype=torch.bfloat16,
    device_map="auto",
    trust_remote_code=True
)
tokenizer = AutoTokenizer.from_pretrained(model_name)
schema_str = mschema_str

/Users/adityakumarraj/Desktop/XIYAN-SQL multi table/venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Loading checkpoint shards: 100%|██████████| 14/14 [00:11<00:00,  1.22it/s]
Some parameters are on the meta device because they were offloaded to the disk.

In [5]:
print(schema_str)

【DB_ID】 data
【Schema】
# Table: public.public.nodedata
[
(nodeid:TEXT, Primary Key, Examples: [i-0000d4f7372fb61ae, i-0003ffb663799aca6, i-0004439ed925e9b69]),
(nodename:TEXT, Examples: [ip-10-93-224-63.us-west-2.compute.internal]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(instancetype:TEXT, Examples: [p4de.24xlarge, r5dn.8xlarge, c5d.24xlarge]),
(tags:TEXT),
(created:TIMESTAMP, Examples: [2025-05-11 01:37:51]),
(snapshottime:TIMESTAMP, Examples: [2025-04-21 19:46:53.516841]),
(platform:TEXT, Examples: [pluto, runai])
]
# Table: public.public.projectdata
[
(id:INTEGER, Primary Key, Examples: [1, 2, 3]),
(projectid:TEXT, Examples: [e458fd5c-ebac-4867-9b23-d0d1661c6fd1]),
(nodepoolid:TEXT, Examples: [133, 23, 25]),
(projectname:TEXT, Examples: [red-piat-dev, stardust-p4de, ilo-train-video]),
(initiativename:TEXT),
(costlabel:TEXT, Examples: [gpu-159, gpu-196, gpu-170]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(nodepoolname:TEXT, Examples: [a100-80gb-mdsr, p4de.24xlarge, a100-3]),
(gpuquota:INTEGER, Examples: [8, 296, 184]),
(cpuquota:INTEGER),
(memoryquota:INTEGER),
(createdat:TIMESTAMP, Examples: [2025-03-11 09:42:32.036372]),
(lastfetched:TIMESTAMP, Examples: [2025-05-15 10:16:23.068653])
]
# Table: public.public.metrics
[
(id:INTEGER, Primary Key, Examples: [1, 2, 3]),
(pod_id:VARCHAR, Examples: [0006607a-d5d1-4a09-9da9-50b4581ae146]),
(pod_name:VARCHAR, Examples: [a1n-dev1-0-0]),
(namespace:VARCHAR, Examples: [runai-a1]),
(job_name:VARCHAR, Examples: [a1n-dev1, aabhatta-debug-22, accelerate-2]),
(initiative:VARCHAR, Examples: [asml]),
(project_id:VARCHAR, Examples: [00828886-cc30-45a7-8ee2-cad6ffdd22c3]),
(project_name:VARCHAR, Examples: [a1, adobe-look, apollo]),
(cluster_name:VARCHAR, Examples: [colligo-laser01-prod-uw2]),
(metric_timestamp:TIMESTAMP, Examples: [2025-05-02 06:00:09]),
(platform:VARCHAR, Examples: [pluto, runai]),
(dcgm_fi_dev_gpu_util:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_dev_mem_copy_util:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_prof_sm_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_nvlink_tx_bytes:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_prof_nvlink_rx_bytes:DOUBLE PRECISION, Examples: [0.0, 1.0, 2.0]),
(dcgm_fi_prof_pcie_tx_bytes:DOUBLE PRECISION, Examples: [0.0, 22416.0, 23416.0]),
(dcgm_fi_prof_sm_occupancy:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_tensor_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_fp64_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_fp32_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_fp16_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_dev_power_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_dev_thermal_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_dev_low_util_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_dev_reliability_violation:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_prof_pcie_rx_bytes:DOUBLE PRECISION, Examples: [0.0, 14020.0, 14101.0]),
(dcgm_fi_prof_dram_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_gr_engine_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_dev_gpu_temp:DOUBLE PRECISION, Examples: [18.0, 19.0, 20.0]),
(dcgm_fi_prof_pipe_tensor_imma_active:DOUBLE PRECISION, Examples: [0.0]),
(dcgm_fi_prof_pipe_tensor_hmma_active:DOUBLE PRECISION, Examples: [0.0, 1e-06, 2e-06]),
(dcgm_fi_prof_pipe_tensor_dfma_active:DOUBLE PRECISION, Examples: [0.0])
]
# Table: public.public.node_data
[
(nodeid:TEXT, Examples: [i-043b981dd9bd26fe4, i-008845b79cb98529f, i-06115036b30c9213c]),
(nodename:TEXT, Examples: [ip-10-93-224-63.us-west-2.compute.internal]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(instancetype:TEXT, Examples: [p4de.24xlarge, r5dn.8xlarge, c5d.24xlarge]),
(tags:TEXT),
(created:TIMESTAMP, Examples: [2025-05-11 01:37:51]),
(snapshottime:TIMESTAMP, Examples: [2025-04-21 19:46:53.516841]),
(platform:TEXT, Examples: [pluto, runai])
]
# Table: public.public.instance_type_metadata
[
(instance_type:VARCHAR, Primary Key, Examples: [c5.12xlarge, c5.18xlarge, c5.24xlarge]),
(count_gpu:SMALLINT, Examples: [4, 8, 0]),
(count_cpu:SMALLINT, Examples: [1, 36, 2]),
(count_memory:INTEGER, Examples: [64, 16, 488])
]
# Table: public.public.costs_data
[
(id:BIGINT, Primary Key, Examples: [1, 2, 3]),
(account_id:BIGINT, Examples: [58264114004, 214272701565, 300610508385]),
(product_name:TEXT, Examples: [Amazon API Gateway, Amazon Athena, Amazon CloudFront]),
(date_day:DATE, Examples: [2025-03-27]),
(category:TEXT, Examples: [COMPUTE-RI, MISC, NETWORKING]),
(subcategory:TEXT, Examples: [A100-40GB, A100-80GB, A100-RI-40GB]),
(region:TEXT, Examples: [af-south-1, ap-northeast-1, ap-northeast-2]),
(usage_description:TEXT, Examples: [AP-DataTransfer-Out-Bytes]),
(unit:TEXT, Examples: [64K-Chunks, ACU-Hr, Alarms]),
(data_creation_date:DATE, Examples: [2025-05-07]),
(env:TEXT, Examples: [DEV, PROD, STAGE]),
(instancetype:TEXT, Examples: [c5.12xlarge, c5.18xlarge, c5.24xlarge]),
(total_spend:DOUBLE PRECISION, Examples: [0.0, 1e-10, 2e-10]),
(total_usage_hours:DOUBLE PRECISION, Examples: [30847.4106463465, 0.0, 1065968.0])
]
# Table: public.public.poddata
[
(k8sid:TEXT, Primary Key, Examples: [00002f12-0561-46d5-8e28-9e0ac11b8231]),
(name:TEXT, Examples: [a026d4e13e2638ae4c2229080cdd83002d8b75c1942-0-0]),
(namespace:TEXT, Examples: [runai-a1]),
(jobname:TEXT, Examples: [pluto-prod-yiwhu-filix3-dist-u8sv6d]),
(project:TEXT, Examples: [a1, adobe-fonts-p4de, adobe-look]),
(initiative:TEXT, Examples: [ai-platform, asml, BYOA]),
(project_id:TEXT, Examples: [00828886-cc30-45a7-8ee2-cad6ffdd22c3]),
(initiative_id:TEXT, Examples: [044d4bd8-4a4e-461d-a1d6-836e86a147ea]),
(clustername:TEXT, Examples: [colligo-laser01-prod-uw2]),
(starttime:TIMESTAMP, Examples: [2025-04-21 16:53:46]),
(endtime:TIMESTAMP, Examples: [2025-03-23 02:14:45.679344]),
(countgpu:INTEGER, Examples: [0, 1, 2]),
(countcpu:INTEGER, Examples: [0, 1, 2]),
(memory_mb:INTEGER, Examples: [0, 1802, 2826]),
(snapshot_time:TIMESTAMP, Examples: [2025-03-23 02:14:45.679344]),
(platform:TEXT, Examples: [pluto, runai]),
(is_terminated:BOOLEAN, Examples: [False]),
(job_id:TEXT, Examples: [40eab889-ee60-4750-b221-e6e38776c797]),
(annotations:JSON),
(state:TEXT, Examples: [Deleted, Error, Failed]),
(tags:TEXT),
(owner_ldap:TEXT),
(node_name:TEXT, Examples: [0.0.0.0]),
(last_metric_received_time:TIMESTAMP, Examples: [2025-05-11 14:12:16]),
(last_metric_fetched:TIMESTAMP, Examples: [2025-05-15 00:08:44.780246])
]
# Table: public.public.initiativedata
[
(id:INTEGER, Primary Key, Examples: [1, 2, 3]),
(initiativeid:TEXT, Examples: [4500158, 4500661, 4500099]),
(nodepoolid:TEXT, Examples: [23, 133, 25]),
(initiativename:TEXT, Examples: [gpu-169--video-multiedit--rdg12]),
(clustername:TEXT, Examples: [sensei-eks04-prod-cluster]),
(nodepoolname:TEXT, Examples: [a100-80gb-mdsr, p4de.24xlarge, a100-3]),
(costlabel:TEXT, Examples: [gpu-159, GPU-133, GPU-214]),
(gpuquota:INTEGER, Examples: [128, 200, 384]),
(cpuquota:INTEGER),
(memoryquota:INTEGER),
(createdat:TIMESTAMP, Examples: [2024-03-07 17:33:12.187000]),
(lastfetched:TIMESTAMP, Examples: [2025-05-15 10:16:22.170649])
]

In [6]:

# 3. Define the prompt template ONCE
nl2sql_template_en = """You are an expert SQL generator.
Given the following database schema and a question, write the correct SQL query.

Dialect: {dialect}
Schema:
{db_schema}

Question: {question}
{evidence}

SQL:"""
def generate_sql(question, dialect="PostgreSQL", evidence="", temperature=0.1, top_p=0.8, max_new_tokens=512):
    prompt = nl2sql_template_en.format(
        dialect=dialect,
        question=question,
        db_schema=schema_str,
        evidence=evidence
    )
    message = [{'role': 'user', 'content': prompt}]
    text = tokenizer.apply_chat_template(
        message,
        tokenize=False,
        add_generation_prompt=True
    )
    model_inputs = tokenizer([text], return_tensors="pt").to(model.device)
    generated_ids = model.generate(
        **model_inputs,
        pad_token_id=tokenizer.pad_token_id,
        eos_token_id=tokenizer.eos_token_id,
        max_new_tokens=max_new_tokens,
        temperature=temperature,
        top_p=top_p,
        do_sample=True,
    )
    # Remove prompt tokens from output
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]
    response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
    return response.strip()

In [7]:
print(generate_sql("Show me the clusters that have more than 5 nodes, grouped by platform"))

SELECT clustername, platform, COUNT(nodeid) AS node_count FROM nodedata GROUP BY clustername, platform HAVING COUNT(nodeid) > 5;

In [8]:
print(generate_sql("What are the account id of the products that have category as 'COMPUTE-RI' and subcategory as 'H200-RI' in the month of April 2025?"))

SELECT account_id FROM costs_data WHERE category = 'COMPUTE-RI' AND subcategory = 'H200-RI' AND date_day >= '2025-04-01' AND date_day < '2025-05-01';

In [9]:
print(generate_sql("What is the distribution of instance types?"))

SELECT instancetype, COUNT(*) AS count FROM nodedata GROUP BY instancetype ORDER BY count DESC;

In [20]:
print(generate_sql("What are all the nodes in the 'sensei-eks01-prod-cluster' cluster?"))

SELECT * FROM public.public.nodedata WHERE clustername = 'sensei-eks01-prod-cluster';

In [11]:
print(generate_sql("Show the number of nodes created per day"))

SELECT DATE(created) AS creation_date, COUNT(*) AS number_of_nodes_created FROM nodedata GROUP BY DATE(created) ORDER BY creation_date;

In [12]:
print(generate_sql("From how many projects did the last time we fetched metadata lies in last month"))

SELECT COUNT(DISTINCT projectid) AS number_of_projects FROM projectdata WHERE lastfetched >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND lastfetched < DATE_TRUNC('month', CURRENT_DATE);

In [13]:
print(generate_sql("How many pods have current state running?"))

SELECT COUNT(*) FROM poddata WHERE state = 'Running';

In [14]:
print(generate_sql("How many nodes are there per cluster?"))

SELECT clustername, COUNT(nodeid) AS number_of_nodes FROM nodedata GROUP BY clustername;

In [19]:
import pandas as pd
db_params = {
    "dbname": "data",
    "user": "adityakumarraj",
    "password": "Aa%%407909013706",
    "host": "localhost",
    "port": "5432"
}
engine = create_engine(f'postgresql://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{db_params["dbname"]}')

try:
    result = pd.read_sql_query("SELECT COUNT(*) FROM poddata WHERE state = 'Running'", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")
try:
    result = pd.read_sql_query("SELECT DATE(created) AS creation_date, COUNT(*) AS number_of_nodes_created FROM nodedata GROUP BY DATE(created) ORDER BY creation_date;", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")
try:
    result = pd.read_sql_query("SELECT account_id FROM costs_data WHERE category = 'COMPUTE-RI' AND subcategory = 'H200-RI' AND date_day >= '2025-04-01' AND date_day < '2025-05-01';", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")
try:
    result = pd.read_sql_query("SELECT clustername, platform, COUNT(nodeid) AS node_count FROM nodedata GROUP BY clustername, platform HAVING COUNT(nodeid) > 5;", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")
try:
    result = pd.read_sql_query("SELECT COUNT(DISTINCT projectid) AS number_of_projects FROM projectdata WHERE lastfetched >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month') AND lastfetched < DATE_TRUNC('month', CURRENT_DATE);", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")
try:
    result = pd.read_sql_query("SELECT instancetype, COUNT(*) AS count FROM nodedata GROUP BY instancetype ORDER BY count DESC;", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")
try:
    result = pd.read_sql_query("SELECT * FROM public.public.nodedata WHERE clustername = 'sensei-eks01-prod-cluster';", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")

try:
    result = pd.read_sql_query("SELECT clustername, COUNT(nodeid) AS number_of_nodes FROM nodedata GROUP BY clustername;", engine)
    display(result)
except Exception as e:
    print(f"Error executing query: {e}")

    count
0  173491

   creation_date  number_of_nodes_created
0     2023-12-07                        8
1     2024-06-27                        1
2     2024-07-19                        3
3     2024-08-07                        3
4     2024-09-04                        1
..           ...                      ...
85    2025-05-11                        4
86    2025-05-12                       21
87    2025-05-13                       34
88    2025-05-14                       11
89    2025-05-15                        4

[90 rows x 2 columns]

      account_id
0   300610508385
1   300610508385
2   300610508385
3   300610508385
4   300610508385
5   300610508385
6   300610508385
7   300610508385
8   300610508385
9   300610508385
10  300610508385
11  300610508385
12  300610508385
13  300610508385
14  300610508385
15  300610508385
16  300610508385
17  300610508385
18  300610508385
19  300610508385
20  300610508385
21  300610508385
22  300610508385
23  300610508385
24  300610508385
25  300610508385
26  300610508385
27  300610508385
28  300610508385
29  300610508385

                      clustername platform  node_count
0       sensei-eks02-prod-cluster    runai         188
1  colligo-laser-control-prod-uw2    pluto           7
2        colligo-laser01-prod-uw2    pluto        2195
3       sensei-eks04-prod-cluster    runai         420
4       sensei-eks01-prod-cluster    runai          11
5       sensei-eks03-prod-cluster    runai          39

   number_of_projects
0                  40

    instancetype  count
0  p4de.24xlarge   1560
1    p5.48xlarge    849
2   p4d.24xlarge    265
3  p5en.48xlarge     80
4    c5.18xlarge     53
5   c5d.24xlarge     31
6   c6i.24xlarge     12
7   r6i.24xlarge      5
8   g6e.12xlarge      4
9   r5dn.8xlarge      1

Error executing query: (psycopg2.errors.FeatureNotSupported) cross-database references are not implemented: "public.public.nodedata"
LINE 1: SELECT * FROM public.public.nodedata WHERE clustername = 'se...
                      ^

[SQL: SELECT * FROM public.public.nodedata WHERE clustername = 'sensei-eks01-prod-cluster';]
(Background on this error at: https://sqlalche.me/e/20/tw8g)

                      clustername  number_of_nodes
0       sensei-eks04-prod-cluster              420
1       sensei-eks01-prod-cluster               11
2        colligo-laser01-prod-uw2             2195
3  colligo-laser-control-prod-uw2                7
4       sensei-eks02-prod-cluster              188
5       sensei-eks03-prod-cluster               39